<ion-view view-title="Glossary">
  <ion-content>
    <ion-list>

        <ion-item class="item item-icon-left">
            <i class="icon ion-android-bookmark"></i>
            Glossary
        </ion-item>

        <div class="card" style="height: 100%;">

            <div class="item item-divider">
                Search For Terms
            </div>

            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="filter" placeholder="Search">
            </label>

            <!-- <div class="item item-text-wrap"> -->
                <table id="expectations-table" class="item">
                    <tr>
                        <th>Abbrev.</th>
                        <th>Definition</th>
                        <th>Description</th>
                    </tr>
                    <!-- For when it is consumed by the service -->
                    <tr ng-repeat="item in glossary | filter:filter">
                        <td>{{item.abbreviation}}</td>
                        <td>{{item.definition}}</td>
                        <td>{{item.description}}</td>
                    </tr>

                </table>
            <!-- </div> -->

        </div>

    </ion-list>
  </ion-content>
</ion-view>
