<ion-view view-title="My KPIs">
  <ion-content>
    <ion-list>
        <ion-item class="item item-icon-left">
            <i class="icon ion-ios-home"></i>
            My KPIs
        </ion-item>

        <div class="row responsive-lg">
            <div class="col">
                <div class="card">
                    <div class="item item-divider">
                        Utilization
                    </div>
                    <div class="item item-text-wrap row">
                        <div class="col col-25" easypiechart id="utilization-chart" options="options" percent="KPI.utilization.percent"></div>
                        
                        <div class="col col-75 col-offset-25 cards-table-col">
                            <table id="cards-table">
                                <tr>
                                    <td>Target</td>
                                    <td>{{KPI.utilization.target}}%</td>
                                    <td> </td> <!-- The extra column is to give padding in fill width views -->
                                </tr>
                                <tr>
                                    <td>As of</td>
                                    <td>{{KPI.utilization.relevantDate | date:"MM/dd/yyyy"}}</td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td>Available</td>
                                    <td>{{KPI.utilization.availableDate | date:"MM/dd/yyyy"}}</td>
                                    <td> </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="item item-divider">
                        YTD Late Timesheets
                    </div>
                    <div class="item item-text-wrap row">
                        <div class="col col-25 main-column">
                            <p>{{KPI.lateTimeSheets.number}}</p>
                        </div>
                        
                        <div class="col col-75 col-offset-25 cards-table-col">
                            <table id="cards-table">
                                <tr>
                                    <td>Target</td>
                                    <td>{{KPI.lateTimeSheets.number}} or Less</td>
                                    <td> </td> <!-- The extra column is to give padding in fill width views -->
                                </tr>
                                <tr>
                                    <td>Current Missing</td>
                                    <td>{{KPI.lateTimeSheets.number}}</td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td>As of</td>
                                    <td>{{KPI.lateTimeSheets.relevantDate | date:"MM/dd/yyyy"}}</td>
                                    <td> </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row responsive-lg">
            <div class="col">
                <div class="card">
                    <div class="item item-divider">
                        Revenue Managed
                    </div>
                    <div class="item item-text-wrap row">
                        <div class="col col-25 main-column">
                            <p>{{KPI.revenueManaged.amount | currency:"$":0}}</p>
                        </div>
                        
                        <div class="col col-75 col-offset-25 cards-table-col">
                            <table id="cards-table">
                                <tr>
                                    <td>Target</td>
                                    <td>{{KPI.revenueManaged.target}}</td>
                                    <td> </td> <!-- The extra column is to give padding in fill width views -->
                                </tr>
                                <!-- <tr>
                                    <td>Current Missing</td>
                                    <td>{{KPI.revenueManaged.number}}</td>
                                    <td> </td>
                                </tr> -->
                                <tr>
                                    <td>As of</td>
                                    <td>{{KPI.revenueManaged.relevantDate | date:"MM/dd/yyyy"}}</td>
                                    <td> </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="item item-divider">
                        Team Sales
                    </div>
                    <div class="item item-text-wrap">
                        This is a basic Card with some text.
                    </div>
                </div>
            </div>
        </div>

        <div class="row responsive-lg">
            <div class="col">
                <div class="card">
                    <div class="item item-divider">
                        Lead Sales
                    </div>
                    <div class="item item-text-wrap">
                        This is a basic Card with some text.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="item item-divider">
                        Assignment Appraisal
                    </div>
                    <div class="item item-text-wrap">
                        This is a basic Card with some text.
                    </div>
                </div>
            </div>
        </div>

        <div class="row responsive-lg">
            <div class="col col-50">
                <div class="card">
                    <div class="item item-divider">
                        Utilization
                    </div>
                    <div class="item item-text-wrap">
                        This is a basic Card with some text.
                    </div>
                </div>
            </div>
            <!-- <div class="col">
                <div class="card">
                    <div class="item item-divider">
                        YTD Late Timesheets
                    </div>
                    <div class="item item-text-wrap">
                        This is a basic Card with some text.
                    </div>
                </div>
            </div> -->
        </div>

      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
