<ion-view view-title="My KPIs">
  <ion-content>
    <ion-list>
        <ion-item class="item item-icon-left">
            <i class="icon ion-ios-home"></i>
            My KPIs
        </ion-item>

        <div class="row responsive-lg">
            <div class="col">
                <div class="card">
                    <div class="item item-divider">
                        Utilization
                    </div>
                    <div class="item item-text-wrap">
                        <div easypiechart id="utilization-chart" options="options" percent="KPI.utilization.percent"></div>
                        This is a basic Card with some text.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="item item-divider">
                        YTD Late Timesheets
                    </div>
                    <div class="item item-text-wrap">
                        <!-- <div easypiechart id="utilization-chart" options="options" percent="KPI.utilization.percent"></div> -->
                        This is a basic Card with some text.
                    </div>
                </div>
            </div>
        </div>

        <div class="row responsive-lg">
            <div class="col">
                <div class="card">
                    <div class="item item-divider">
                        Revenue Managed
                    </div>
                    <div class="item item-text-wrap">
                        This is a basic Card with some text.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="item item-divider">
                        Team Sales
                    </div>
                    <div class="item item-text-wrap">
                        This is a basic Card with some text.
                    </div>
                </div>
            </div>
        </div>

        <div class="row responsive-lg">
            <div class="col">
                <div class="card">
                    <div class="item item-divider">
                        Lead Sales
                    </div>
                    <div class="item item-text-wrap">
                        This is a basic Card with some text.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="item item-divider">
                        Assignment Appraisal
                    </div>
                    <div class="item item-text-wrap">
                        This is a basic Card with some text.
                    </div>
                </div>
            </div>
        </div>

        <div class="row responsive-lg">
            <div class="col col-50">
                <div class="card">
                    <div class="item item-divider">
                        Utilization
                    </div>
                    <div class="item item-text-wrap">
                        This is a basic Card with some text.
                    </div>
                </div>
            </div>
            <!-- <div class="col">
                <div class="card">
                    <div class="item item-divider">
                        YTD Late Timesheets
                    </div>
                    <div class="item item-text-wrap">
                        This is a basic Card with some text.
                    </div>
                </div>
            </div> -->
        </div>

      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
