<ion-view view-title="Glossary">
  <ion-content>
    <ion-list>

        <ion-item class="item item-icon-left">
            <i class="icon ion-briefcase"></i>
            North America Organization
        </ion-item>

        <div class="card" style="height: 100%;">

            <div class="item item-divider">
                All Contacts
            </div>

            <label class="item item-input">
                <i class="icon ion-android-search placeholder-icon"></i>
                <input type="text" ng-model="filter" placeholder="Search">
            </label>

            <!-- <div class="item item-text-wrap"> -->
                <table id="expectations-table" class="organization-table" class="item">
                    <tr>
                        <th>BU</th>
                        <th>Leadership Role</th>
                        <th>Sub Unit</th>
                        <th>Role Area</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                    <!-- For when it is consumed by the service -->
                    <tr ng-repeat="item in viewData.organization | filter:filter" ng-click="showContacts(item)">
                        <td>{{item["BU"]}}</td>
                        <td>{{item["Leadership Role"]}}</td>
                        <td>{{item["Sub Unit"]}}</td>
                        <td>{{item["Role Area"]}}</td>
                        <td>{{item["Name"]}}</td>
                        <td>{{item["Email"]}}</td>
                        <td>{{item["Phone"]}}</td>
                    </tr>

                </table>
            <!-- </div> -->

        </div>

    </ion-list>
  </ion-content>
</ion-view>
