/* Empty. Add your own CSS if you like */
.card {
    height: 200px;
    margin-bottom: 0px;
}

.item-text-wrap {
    padding-top: 20px;
}

table#cards-table {
    font-size:14px;
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

#cards-table td, #cards-table th {
    /*border: 1px solid #ddd;*/
    text-align: left;
    padding: 8px;
}

/*#cards-table tr:nth-child(even){background-color: #f2f2f2}*/

#cards-table th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #4CAF50;
    color: white;
}

#utilization-chart {
    padding-left: 25px;
}

.main-column > p {
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
}

.cards-table-col {
    margin-left: 45px;
}

.no-border {
    border: none;
}

.side-menu-bar {
    /*height: 55px;*/
    padding: 0px;

}
.menu-hive-logo {
    height: 35px;
    width: 65px;
    margin-top: 3px;
    margin-left: 5px;
}

.menu-cap-logo {
    float: right;
    clear: left;
    width: 38px;
    height: 38px;
    margin-top: 2px;
    margin-left: 20px;
}

table#expectations-table {
    font-size:14px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    padding: 0px; /*Remove padding between card and table*/
}

/*Make the last column take up remaining space in parent div*/
table td:last-child {
    width: 100%;
}

#expectations-table td, #expectations-table th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#expectations-table tr:nth-child(even){background-color: #f4f4f4}

#expectations-table tr:hover {
    background-color: #eaf4ff;
}

#expectations-table tr:hover td {
    background-color: transparent; /* or #000 */
}

#expectations-table th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #444444;
    color: white;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}